# Python
__pycache__/
*.py[cod]
*.db
.env
venv/
env/

# Node
node_modules/
.next/
package-lock.json

# IDE
.vscode/
.idea/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Frontend env
frontend/.env.local.env
backend/.env
frontend/.env.local
